# Configurate ROS_MASTER
WORKSPACE=~/no_backup/catkin_ws/
ROS_MASTER=indy
ROS_PORT=63791

# Configurate Python Interpreter
VENV=~/no_backup/envs/env_2.7/

# Configurate Environments
HOSTS=(greyhound goodchild goodspeed goodyear)
PORTS=(6379 6379 6379 6379 6379 6379 6379 6379 6379 6379 6379 6379 6379)
MAPS=(two_lane_road two_lane_road two_lane_road two_lane_road two_lane_road two_lane_road two_lane_road two_lane_road two_lane_road two_lane_road two_lane_road two_lane_road two_lane_road)
SCENARIOS=(test_1 test_1 test_1 test_1 test_1 test_1 test_1 test_1 test_1 test_1 test_1 test_1 test_1)

# Configurate Evaluation
EVAL_HOST=indy
EVAL_PORT=6379
EVAL_MAP=two_lane_road

# Configurate Algorithm
ALGORITHM=ppo
